<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457493876682-t9ov4v823ckr8bvc9j58np5hcvbctrp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457493876682-t9ov4v823ckr8bvc9j58np5hcvbctrp8</string>
	<key>API_KEY</key>
	<string>AIzaSyDu1Ss-oHjYbZTtbhuerupZCRvE262YrhA</string>
	<key>GCM_SENDER_ID</key>
	<string>457493876682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoappFirebase</string>
	<key>PROJECT_ID</key>
	<string>todoapp-18aa4</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-18aa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457493876682:ios:fb195ff645d3e9b30d4933</string>
</dict>
</plist>